services:
  #BD PostgreSQL + pgvector
  database:
    image: pgvector/pgvector:pg14
    container_name: orion-n8n-database
    environment:
      POSTGRES_USER: ${DB_USER:-orion}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: orion
    volumes:
      - ./postgres_data_orion:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - orion-n8n-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U orion -d orion" ]
      interval: 30s
      timeout: 30s
      retries: 3
    env_file: ./.env

  # redis do evolution
  redis:
    image: redis:6-alpine
    container_name: orion-n8n-redis
    command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - ./redis_data_orion:/data
    ports:
      - "6379:6379"
    networks:
      - orion-n8n-network
    healthcheck:
      test: [ "CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping" ]
      interval: 25s
      timeout: 30s
      retries: 3
    env_file: ./.env

  # N8N
  n8n:
    build:
      context: .
      dockerfile: Dockerfile
    image: orion-n8n-custom:latest
    container_name: orion-n8n-main
    depends_on:
      database:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      # Configuração N8N
      N8N_HOST: ${N8N_HOST}
      N8N_PORT: 5678
      N8N_PROTOCOL: http
      WEBHOOK_URL: ${WEBHOOK_URL}

      # Configuração BD
      DB_TYPE: postgresdb
      DB_POSTGRESDB_HOST: database
      DB_POSTGRESDB_PORT: 5432
      DB_POSTGRESDB_DATABASE: orion
      DB_POSTGRESDB_USER: ${DB_USER:-orion}
      DB_POSTGRESDB_PASSWORD: ${DB_PASSWORD}

      # Configuração redis
      QUEUE_BULL_REDIS_HOST: redis
      QUEUE_BULL_REDIS_PASSWORD: ${REDIS_PASSWORD}

      # Configurações de segurança
      N8N_USER_MANAGEMENT_DISABLED: false
      N8N_SECURE_COOKIE: false
      N8N_ENCRYPTION_KEY: ${N8N_KEY}

      # Configuração de logs
      N8N_LOG_LEVEL: info
      N8N_LOG_OUTPUT: console

      # Configura sharp
      NODE_FUNCTION_ALLOW_EXTERNAL: sharp
      NODE_PATH: /usr/local/lib/node_modules

      # Indica o diretório dos custom nodes
      N8N_CUSTOM_EXTENSIONS: /data/custom-nodes

    ports:
      - "5678:5678"
    volumes:
      - ./n8n_data_orion:/home/node/.n8n
    networks:
      - orion-n8n-network
    env_file: ./.env

  # Evolution / WhatsApp
  evolution-api:
    container_name: orion-evolution-api
    image: evoapicloud/evolution-api:latest
    ports:
      - "8080:8080"
    environment:
      DEBUG: true
      CONFIG_SESSION_PHONE_VERSION: "2.3000.1029707447"
      AUTHENTICATION_API_KEY: ${EVO_API_KEY}
      DATABASE_ENABLED: true
      DATABASE_PROVIDER: postgresql
      DATABASE_CONNECTION_URI: postgresql://${DB_USER:-orion}:${DB_PASSWORD}@database:5432/orion
      DATABASE_SAVE_DATA_INSTANCE: true
      DATABASE_SAVE_DATA_NEW_MESSAGE: true
      DATABASE_SAVE_MESSAGE_UPDATE: true
      DATABASE_SAVE_DATA_CONTACTS: true
      DATABASE_SAVE_DATA_CHATS: true
      DATABASE_SAVE_DATA_LABELS: true
      DATABASE_SAVE_DATA_HISTORIC: false
      DATABASE_SAVE_IS_ON_WHATSAPP: true
      DATABASE_SAVE_IS_ON_WHATSAPP_DAYS: 1
      DATABASE_DELETE_MESSAGE: true
      CACHE_REDIS_ENABLED: true
      CACHE_REDIS_URI: redis://:${REDIS_PASSWORD}@redis:6379/0
      CACHE_REDIS_PREFIX_KEY: evolution
      CACHE_REDIS_SAVE_INSTANCES: true
      CACHE_LOCAL_ENABLED: false
      # Config eventos via Webhook
      WEBHOOK_FORMAT: base64
      SEND_BASE64: true
      SEND_MEDIA_BASE64: true
    networks:
      - orion-n8n-network
    volumes:
      - ./evolution_instances_orion:/evolution/instances
    depends_on:
      database:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file: ./.env

networks:
  orion-n8n-network:
    driver: bridge
